@import "../../mixin";

.footer {
  .footer__content {
    height: 50px;
    background: #f7b731;
    @include flexbox(center);

    p {
      width: 100%;
      padding: 5px;
      color: black;
      font-size: 12px;
      font-weight: 500;
      font-family: "inter";
      text-align: center;
      letter-spacing: 0.5px;
      border-top: 1px solid black;
    }
  }
}
