@import "../../mixin";

.header {
  .header__content {
    width: 100%;
    @include flexbox(center);
    background: #f7b731;

    .header__logo {
      padding: 10px;
      @include flexbox(center);

      .link {
        color: black;
        font-size: 25px;
        font-weight: 600;
        font-family: "inter";
      }
    }
  }
}
