@import "../../mixin";

.header {
  width: 100%;
  .header__content {
    @include flexbox(space-between, center);

    .header__logo {
      width: 140px;
      height: 40px;
      border-radius: 15px 15px 0 0;
      border: 2px solid black;
      background: #f7b731;
      border-bottom: 5px solid black;

      @include flexbox(center);

      .link {
        color: black;
        font-size: 25px;
        font-weight: 600;
        font-family: "inter";
      }
    }

    .header__translate {
      select {
        color: black;
        font-size: 25px;
        font-weight: 500;
        font-family: "inter";
        border: 2px solid black;
        outline: none;
        border-radius: 5px;
      }
    }
  }
}
