@media (max-width: 513px) {
  .container {
    .button {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 376px) {
  .container {
    .button {
      .button__content {
        height: 50px;

        h1 {
          font-size: 20px;
        }

        h2 {
          font-size: 13px;
        }
      }
    }
  }
}
