@media (max-width: 581px) {
  .container {
    .header {
      .header__content {
        .header__logo {
          height: 35px;
          font-size: 20px;
        }

        .header__translate {
          select {
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .container {
    .header {
      .header__content {
        .header__logo {
          height: 35px;
          font-size: 18px;
        }

        .header__translate {
          select {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
